body {
    background-color: lightblue;
    max-width: 800px;
    padding: 20px;
    
}

h1 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    color: black;
    text-align: center;
    font-size: 40px;
    font-style: italic
}

h3 {
    color: black;
    text-align: center;
    font-size: 25px;
    font-style: italic
}